.tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
input[type="checkbox"] {
	display: none;
}
label {
	background-color: #e6e7e8;
	border: 2px solid #fff;
	font-size: 16px;
	font-weight: 600;
	padding-block: 4px;
	padding-inline: 12px;
	border-radius: 21px;
	min-width: 42px;
	text-align: center;
}
input[type="checkbox"]:hover + label {
	background: #b4d1eb;
}
input[type="checkbox"]:checked + label {
	border-color: #215a90;
	background: #b3daff;
}

/* 
font-size: 14px;
font-weight: 600;
padding-block: 4px;
padding-inline: 16px; */