.header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.header-input-container {
	display: flex;
	gap: 1rem;
}

.search-bar {
	width: 100%;
	padding: 0.5rem;
}

.add-post-btn {
	padding: 0.5rem;
}

.catagories-btn {
	padding: 0.5rem;
}
