.App {
	display: grid;
	grid-template-columns: minmax(150px, 25%) 1fr;
	width: 95%;
	margin: 2.5% auto;
	gap: 2.5%;
}
.App.hideNewPost {
	grid-template-columns: 1fr;
}
/* .add-post-container really lives in AddPost.js - not here*/
.App.hideNewPost .add-post-container {
	display: none;
}
button {
	border-radius: .3rem;
	border-color: rgb(195, 194, 194);
}
input {
	border-radius: .3rem;
	border: 1px solid rgb(110, 110, 110)
}
textarea {
	border-radius: .3rem;
}