.App {
	display: grid;
	grid-template-columns: minmax(150px, 25%) 1fr;
	width: 95%;
	margin: 2.5% auto;
	gap: 2.5%;
}
.App.hideNewPost {
	grid-template-columns: 1fr;
}
/* .add-post-container really lives in AddPost.js - not here*/
.App.hideNewPost .add-post-container {
	display: none;
}
